

<div class="form-div-recipe">
<h1 class="mt-3">
    This is too add the recipe
</h1>
<div class="box-of-form">
<form (ngSubmit)="addtomenu()" [formGroup]="recipes" enctype="multipart/form-data">

  <div class="mb-3">
    <label>Add Food</label>
    <input type="text" formControlName="addFood" placeholder="what food to add">
  </div>

  <div class="mb-3">
    <label>Price of food</label>
    <input type="text" formControlName="addPrice">
  </div>

  <div class="mb-3">
    <label>Description</label>
    <input type="text" formControlName="addDes">
  </div>

  <div class="mb-3">
    <label>Image</label>
    <input type="text" formControlName="addImg" >
  </div>

  <div>
    <button (ngSubmit)="addtomenu()" type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
</div>
</div>

